In [1]:
import pandas as pd
hotel1 = pd.read_csv('C:/Users/lien0/Downloads/hotels1.csv')
print(hotel1)

     reservation_id         hotel  is_canceled  lead_time  arrival_date_year  \
0                 0  Resort Hotel            0        342               2015
1                 1  Resort Hotel            0        737               2015
2                 2  Resort Hotel            0          7               2015
3                 3  Resort Hotel            0         13               2015
4                 4  Resort Hotel            0         14               2015
..              ...           ...          ...        ...                ...
495             495  Resort Hotel            0         92               2015
496             496  Resort Hotel            0         91               2015
497             497  Resort Hotel            0         38               2015
498             498  Resort Hotel            0          6               2015
499             499  Resort Hotel            0         38               2015

    arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
0                 July                        27                          1
1                 July                        27                          1
2                 July                        27                          1
3                 July                        27                          1
4                 July                        27                          1
..                 ...                       ...                        ...
495               July                        29                         17
496               July                        29                         17
497               July                        29                         17
498               July                        29                         17
499               July                        29                         17

     stays_in_weekend_nights  stays_in_week_nights
0                          0                     0
1                          0                     0
2                          0                     1
3                          0                     1
4                          0                     2
..                       ...                   ...
495                        1                     2
496                        1                     2
497                        1                     2
498                        1                     2
499                        1                     2

[500 rows x 10 columns]

In [2]:
hotel2 = pd.read_csv('C:/Users/lien0/Downloads/hotels2.csv')
print(hotel2)

     reservation_id  adults  children  babies meal country market_segment  \
0                 0       2       0.0       0   BB     PRT         Direct
1                 1       2       0.0       0   BB     PRT         Direct
2                 2       1       0.0       0   BB     GBR         Direct
3                 3       1       0.0       0   BB     GBR      Corporate
4                 4       2       0.0       0   BB     GBR      Online TA
..              ...     ...       ...     ...  ...     ...            ...
495             495       2       0.0       0   BB     MOZ      Online TA
496             496       2       1.0       0   BB     BWA      Online TA
497             497       2       1.0       0   HB     PRT      Online TA
498             498       2       0.0       0   BB     GBR  Offline TA/TO
499             499       2       0.0       0   BB     ESP      Online TA

    distribution_channel  is_repeated_guest  previous_cancellations  ...  \
0                 Direct                  0                       0  ...
1                 Direct                  0                       0  ...
2                 Direct                  0                       0  ...
3              Corporate                  0                       0  ...
4                  TA/TO                  0                       0  ...
..                   ...                ...                     ...  ...
495                TA/TO                  0                       0  ...
496                TA/TO                  0                       0  ...
497                TA/TO                  0                       0  ...
498                TA/TO                  0                       0  ...
499                TA/TO                  0                       0  ...

     booking_changes deposit_type  Agent  days_in_waiting_list customer_type  \
0                  3   No Deposit    NaN                     0     Transient
1                  4   No Deposit    NaN                     0     Transient
2                  0   No Deposit    NaN                     0     Transient
3                  0   No Deposit  304.0                     0     Transient
4                  0   No Deposit  240.0                     0     Transient
..               ...          ...    ...                   ...           ...
495                3   No Deposit  240.0                     0     Transient
496                3   No Deposit  240.0                     0     Transient
497                1   No Deposit  240.0                     0     Transient
498                0   No Deposit  142.0                     0      Contract
499                0   No Deposit  240.0                     0     Transient

        adr  required_car_parking_spaces total_of_special_requests  \
0      0.00                            0                         0
1      0.00                            0                         0
2     75.00                            0                         0
3     75.00                            0                         0
4     98.00                            0                         1
..      ...                          ...                       ...
495  103.50                            1                         3
496  118.50                            0                         3
497  192.00                            0                         1
498  128.27                            0                         0
499  135.00                            0                         0

     Reservation_Status  reservation_status_date
0             Check-Out               2015-07-01
1             Check-Out               2015-07-01
2             Check-Out               2015-07-02
3             Check-Out               2015-07-02
4             Check-Out               2015-07-03
..                  ...                      ...
495           Check-Out               2015-07-20
496           Check-Out               2015-07-20
497           Check-Out               2015-07-20
498           Check-Out               2015-07-20
499           Check-Out               2015-07-20

[500 rows x 23 columns]

In [3]:
hotel3 = pd.read_csv('C:/Users/lien0/Downloads/hotels3.csv')
print(hotel3)

      reservation_id         hotel  is_canceled  lead_time  arrival_date_year  \
0                500  Resort Hotel            0         13               2015
1                501  Resort Hotel            1         32               2015
2                502  Resort Hotel            0        315               2015
3                503  Resort Hotel            0          8               2015
4                504  Resort Hotel            1          0               2015
...              ...           ...          ...        ...                ...
6495            6995  Resort Hotel            1         83               2016
6496            6996  Resort Hotel            1         58               2016
6497            6997  Resort Hotel            1        103               2016
6498            6998  Resort Hotel            1         35               2016
6499            6999  Resort Hotel            1         20               2016

     arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
0                  July                        29                         17
1                  July                        29                         17
2                  July                        29                         17
3                  July                        29                         17
4                  July                        29                         17
...                 ...                       ...                        ...
6495               July                        29                         16
6496               July                        29                         16
6497               July                        29                         16
6498               July                        29                         16
6499               July                        29                         16

      stays_in_weekend_nights  stays_in_week_nights  ...  deposit_type  agent  \
0                           1                     2  ...    No Deposit  240.0
1                           1                     2  ...    No Deposit  240.0
2                           1                     2  ...    No Deposit  171.0
3                           1                     2  ...    No Deposit  240.0
4                           0                     1  ...    No Deposit    NaN
...                       ...                   ...  ...           ...    ...
6495                        1                     1  ...    No Deposit  240.0
6496                        2                     2  ...    No Deposit  240.0
6497                        2                     2  ...    No Deposit  240.0
6498                        2                     2  ...    No Deposit  240.0
6499                        2                     3  ...    No Deposit  240.0

      days_in_waiting_list customer_type    adr required_car_parking_spaces  \
0                        0     Transient  126.3                           0
1                        0     Transient  154.0                           0
2                        0     Transient   96.3                           0
3                        0     Transient  126.3                           0
4                        0     Transient  136.0                           0
...                    ...           ...    ...                         ...
6495                     0     Transient  212.0                           0
6496                     0     Transient  160.0                           0
6497                     0     Transient  180.0                           0
6498                     0     Transient  179.0                           0
6499                     0     Transient  209.0                           0

     total_of_special_requests  reservation_status  reservation_status_date  \
0                            2           Check-Out               2015-07-20
1                            0            Canceled               2015-06-24
2                            0           Check-Out               2015-07-20
3                            2           Check-Out               2015-07-20
4                            0            Canceled               2015-07-17
...                        ...                 ...                      ...
6495                         0            Canceled               2016-04-24
6496                         0            Canceled               2016-06-17
6497                         0            Canceled               2016-06-25
6498                         0            Canceled               2016-06-12
6499                         0            Canceled               2016-06-27

      company
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
6495      NaN
6496      NaN
6497      NaN
6498      NaN
6499      NaN

[6500 rows x 33 columns]

In [4]:
hotel4 = pd.read_csv('C:/Users/lien0/Downloads/hotels4.csv')
print(hotel4)

        reservation_id         hotel  is_canceled  lead_time  \
0                 6900  Resort Hotel            0        292
1                 6901  Resort Hotel            1        149
2                 6902  Resort Hotel            1        146
3                 6903  Resort Hotel            0        292
4                 6904  Resort Hotel            0        292
...                ...           ...          ...        ...
112485          119385    City Hotel            0         23
112486          119386    City Hotel            0        102
112487          119387    City Hotel            0         34
112488          119388    City Hotel            0        109
112489          119389    City Hotel            0        205

        arrival_date_year arrival_date_month  arrival_date_week_number  \
0                    2016               July                        29
1                    2016               July                        29
2                    2016               July                        29
3                    2016               July                        29
4                    2016               July                        29
...                   ...                ...                       ...
112485               2017             August                        35
112486               2017             August                        35
112487               2017             August                        35
112488               2017             August                        35
112489               2017             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                              10                        1
1                              10                        1
2                              10                        1
3                              10                        1
4                              10                        1
...                           ...                      ...
112485                         30                        2
112486                         31                        2
112487                         31                        2
112488                         31                        2
112489                         29                        2

        stays_in_week_nights  ...  deposit_type  agent  days_in_waiting_list  \
0                          0  ...    No Deposit  240.0                     0
1                          0  ...    No Deposit  240.0                     0
2                          0  ...    No Deposit  240.0                     0
3                          0  ...    No Deposit  240.0                     0
4                          0  ...    No Deposit  240.0                     0
...                      ...  ...           ...    ...                   ...
112485                     5  ...    No Deposit  394.0                     0
112486                     5  ...    No Deposit    9.0                     0
112487                     5  ...    No Deposit    9.0                     0
112488                     5  ...    No Deposit   89.0                     0
112489                     7  ...    No Deposit    9.0                     0

       customer_type     adr required_car_parking_spaces  \
0          Transient   72.90                           0
1          Transient  260.00                           0
2          Transient  119.00                           0
3          Transient   72.90                           0
4          Transient   72.90                           1
...              ...     ...                         ...
112485     Transient   96.14                           0
112486     Transient  225.43                           0
112487     Transient  157.71                           0
112488     Transient  104.40                           0
112489     Transient  151.20                           0

       total_of_special_requests  reservation_status  reservation_status_date  \
0                              2           Check-Out               2016-07-11
1                              0            Canceled               2016-02-22
2                              1            Canceled               2016-06-30
3                              2           Check-Out               2016-07-11
4                              2           Check-Out               2016-07-11
...                          ...                 ...                      ...
112485                         0           Check-Out               2017-09-06
112486                         2           Check-Out               2017-09-07
112487                         4           Check-Out               2017-09-07
112488                         0           Check-Out               2017-09-07
112489                         2           Check-Out               2017-09-07

        company
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
112485      NaN
112486      NaN
112487      NaN
112488      NaN
112489      NaN

[112490 rows x 33 columns]

In [7]:
hotel2_1 = hotel2.rename({'Agent': 'agent'}, axis=1)

In [8]:
hotel2_1

,reservation_id,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,Reservation_Status,reservation_status_date
0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,...,3,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,...,4,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,2,1,0.0,0,BB,GBR,Direct,Direct,0,0,...,0,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,3,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,4,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,2,0.0,0,BB,MOZ,Online TA,TA/TO,0,0,...,3,No Deposit,240.0,0,Transient,103.50,1,3,Check-Out,2015-07-20
496,496,2,1.0,0,BB,BWA,Online TA,TA/TO,0,0,...,3,No Deposit,240.0,0,Transient,118.50,0,3,Check-Out,2015-07-20
497,497,2,1.0,0,HB,PRT,Online TA,TA/TO,0,0,...,1,No Deposit,240.0,0,Transient,192.00,0,1,Check-Out,2015-07-20
498,498,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,...,0,No Deposit,142.0,0,Contract,128.27,0,0,Check-Out,2015-07-20
499,499,2,0.0,0,BB,ESP,Online TA,TA/TO,0,0,...,0,No Deposit,240.0,0,Transient,135.00,0,0,Check-Out,2015-07-20

In [9]:
hotel1

,reservation_id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights
0,0,Resort Hotel,0,342,2015,July,27,1,0,0
1,1,Resort Hotel,0,737,2015,July,27,1,0,0
2,2,Resort Hotel,0,7,2015,July,27,1,0,1
3,3,Resort Hotel,0,13,2015,July,27,1,0,1
4,4,Resort Hotel,0,14,2015,July,27,1,0,2
...,...,...,...,...,...,...,...,...,...,...
495,495,Resort Hotel,0,92,2015,July,29,17,1,2
496,496,Resort Hotel,0,91,2015,July,29,17,1,2
497,497,Resort Hotel,0,38,2015,July,29,17,1,2
498,498,Resort Hotel,0,6,2015,July,29,17,1,2
499,499,Resort Hotel,0,38,2015,July,29,17,1,2

In [10]:
hotel3

,reservation_id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,company
0,500,Resort Hotel,0,13,2015,July,29,17,1,2,...,No Deposit,240.0,0,Transient,126.3,0,2,Check-Out,2015-07-20,NaN
1,501,Resort Hotel,1,32,2015,July,29,17,1,2,...,No Deposit,240.0,0,Transient,154.0,0,0,Canceled,2015-06-24,NaN
2,502,Resort Hotel,0,315,2015,July,29,17,1,2,...,No Deposit,171.0,0,Transient,96.3,0,0,Check-Out,2015-07-20,NaN
3,503,Resort Hotel,0,8,2015,July,29,17,1,2,...,No Deposit,240.0,0,Transient,126.3,0,2,Check-Out,2015-07-20,NaN
4,504,Resort Hotel,1,0,2015,July,29,17,0,1,...,No Deposit,NaN,0,Transient,136.0,0,0,Canceled,2015-07-17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,6995,Resort Hotel,1,83,2016,July,29,16,1,1,...,No Deposit,240.0,0,Transient,212.0,0,0,Canceled,2016-04-24,NaN
6496,6996,Resort Hotel,1,58,2016,July,29,16,2,2,...,No Deposit,240.0,0,Transient,160.0,0,0,Canceled,2016-06-17,NaN
6497,6997,Resort Hotel,1,103,2016,July,29,16,2,2,...,No Deposit,240.0,0,Transient,180.0,0,0,Canceled,2016-06-25,NaN
6498,6998,Resort Hotel,1,35,2016,July,29,16,2,2,...,No Deposit,240.0,0,Transient,179.0,0,0,Canceled,2016-06-12,NaN
6499,6999,Resort Hotel,1,20,2016,July,29,16,2,3,...,No Deposit,240.0,0,Transient,209.0,0,0,Canceled,2016-06-27,NaN

In [11]:
hotel4

,reservation_id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,company
0,6900,Resort Hotel,0,292,2016,July,29,10,1,0,...,No Deposit,240.0,0,Transient,72.90,0,2,Check-Out,2016-07-11,NaN
1,6901,Resort Hotel,1,149,2016,July,29,10,1,0,...,No Deposit,240.0,0,Transient,260.00,0,0,Canceled,2016-02-22,NaN
2,6902,Resort Hotel,1,146,2016,July,29,10,1,0,...,No Deposit,240.0,0,Transient,119.00,0,1,Canceled,2016-06-30,NaN
3,6903,Resort Hotel,0,292,2016,July,29,10,1,0,...,No Deposit,240.0,0,Transient,72.90,0,2,Check-Out,2016-07-11,NaN
4,6904,Resort Hotel,0,292,2016,July,29,10,1,0,...,No Deposit,240.0,0,Transient,72.90,1,2,Check-Out,2016-07-11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112485,119385,City Hotel,0,23,2017,August,35,30,2,5,...,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06,NaN
112486,119386,City Hotel,0,102,2017,August,35,31,2,5,...,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07,NaN
112487,119387,City Hotel,0,34,2017,August,35,31,2,5,...,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07,NaN
112488,119388,City Hotel,0,109,2017,August,35,31,2,5,...,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07,NaN
112489,119389,City Hotel,0,205,2017,August,35,29,2,7,...,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07,NaN

In [18]:
from functools import reduce
hotel_merge = reduce(lambda left, right:
                    pd.merge(left, right,
                             on = ["reservation_id"],
                             how = "outer"),
                    [hotel1, hotel2_1, hotel3, hotel4])
print(hotel_merge)

        reservation_id       hotel_x  is_canceled_x  lead_time_x  \
0                    0  Resort Hotel            0.0        342.0
1                    1  Resort Hotel            0.0        737.0
2                    2  Resort Hotel            0.0          7.0
3                    3  Resort Hotel            0.0         13.0
4                    4  Resort Hotel            0.0         14.0
...                ...           ...            ...          ...
119385          119385           NaN            NaN          NaN
119386          119386           NaN            NaN          NaN
119387          119387           NaN            NaN          NaN
119388          119388           NaN            NaN          NaN
119389          119389           NaN            NaN          NaN

        arrival_date_year_x arrival_date_month_x  arrival_date_week_number_x  \
0                    2015.0                 July                        27.0
1                    2015.0                 July                        27.0
2                    2015.0                 July                        27.0
3                    2015.0                 July                        27.0
4                    2015.0                 July                        27.0
...                     ...                  ...                         ...
119385                  NaN                  NaN                         NaN
119386                  NaN                  NaN                         NaN
119387                  NaN                  NaN                         NaN
119388                  NaN                  NaN                         NaN
119389                  NaN                  NaN                         NaN

        arrival_date_day_of_month_x  stays_in_weekend_nights_x  \
0                               1.0                        0.0
1                               1.0                        0.0
2                               1.0                        0.0
3                               1.0                        0.0
4                               1.0                        0.0
...                             ...                        ...
119385                          NaN                        NaN
119386                          NaN                        NaN
119387                          NaN                        NaN
119388                          NaN                        NaN
119389                          NaN                        NaN

        stays_in_week_nights_x  ...  deposit_type  agent  \
0                          0.0  ...           NaN    NaN
1                          0.0  ...           NaN    NaN
2                          1.0  ...           NaN    NaN
3                          1.0  ...           NaN    NaN
4                          2.0  ...           NaN    NaN
...                        ...  ...           ...    ...
119385                     NaN  ...    No Deposit  394.0
119386                     NaN  ...    No Deposit    9.0
119387                     NaN  ...    No Deposit    9.0
119388                     NaN  ...    No Deposit   89.0
119389                     NaN  ...    No Deposit    9.0

        days_in_waiting_list customer_type     adr  \
0                        NaN           NaN     NaN
1                        NaN           NaN     NaN
2                        NaN           NaN     NaN
3                        NaN           NaN     NaN
4                        NaN           NaN     NaN
...                      ...           ...     ...
119385                   0.0     Transient   96.14
119386                   0.0     Transient  225.43
119387                   0.0     Transient  157.71
119388                   0.0     Transient  104.40
119389                   0.0     Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
0                              NaN                       NaN
1                              NaN                       NaN
2                              NaN                       NaN
3                              NaN                       NaN
4                              NaN                       NaN
...                            ...                       ...
119385                         0.0                       0.0
119386                         0.0                       2.0
119387                         0.0                       4.0
119388                         0.0                       0.0
119389                         0.0                       2.0

        reservation_status_y  reservation_status_date  company_y
0                        NaN                      NaN        NaN
1                        NaN                      NaN        NaN
2                        NaN                      NaN        NaN
3                        NaN                      NaN        NaN
4                        NaN                      NaN        NaN
...                      ...                      ...        ...
119385             Check-Out               2017-09-06        NaN
119386             Check-Out               2017-09-07        NaN
119387             Check-Out               2017-09-07        NaN
119388             Check-Out               2017-09-07        NaN
119389             Check-Out               2017-09-07        NaN

[119390 rows x 96 columns]

In [19]:
hotel_merge

,reservation_id,hotel_x,is_canceled_x,lead_time_x,arrival_date_year_x,arrival_date_month_x,arrival_date_week_number_x,arrival_date_day_of_month_x,stays_in_weekend_nights_x,stays_in_week_nights_x,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_y,reservation_status_date,company_y
0,0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Resort Hotel,0.0,7.0,2015.0,July,27.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,119385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No Deposit,394.0,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,NaN
119386,119386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No Deposit,9.0,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,NaN
119387,119387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No Deposit,9.0,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,NaN
119388,119388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No Deposit,89.0,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,NaN
119389,119389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No Deposit,9.0,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,NaN